.header {
    text-align-last: center;
    font-size: 2rem;
    height: 200px;
    padding: auto;
    background-image: url(asset/img/Background-SS.jpg);
    background-repeat: no-repeat;
}
.body {
    width: 1200px;
    margin: auto;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.primero {
    color: blue;
    margin: auto;
    border: 1px solid blue;
    padding: 10px;
}
.footer {
    text-align-last: center;
    margin: 40px;
    padding: auto;
    color: yellow;
    background-color: black; border: 1px solid yellow;
}
h1 {
    font-size: 2em;
    color: #585858;
    text-align: center;
}
.tituloproducto {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #5b5b5b;
    margin: 20px;
}
.precio {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3em;
    color: #ffce00;
    margin: 20px;
}
.tablaproducto {
    background-color: #f7f7f7; border: 1px solid rgb(204, 204, 204);
    padding: auto;
    margin-left: auto;
    margin-right: auto;
}